p {
    width: 350px;
  inline-size: 350px;
  height: 150px;
  block-size: 150px;
  margin: 10px;
  padding: 25px;
  border: 5px solid black;
}
.my-grid {
  display: grid;
  grid-template-columns: auto 1 fr;
  grid-template-rows: auto 100px;
}
.has-blue-background {
  background-color: #A7DDFF;
  border: 1px solid #721EE3
}
.has-yellow-background {
  background-color: #FAF7A7;
  border: 1px solid #721EE3;
}
